PINT_CLIENT_ID=pint-dev
PINT_CLIENT_SECRET=changeme
PINT_SERVER_URL=http://localhost:8080
PINT_LOGIN_URL=http://localhost:8080/auth/login
PINT_CALLBACK_URL=http://localhost:8080/auth/callback
PINT_IPA_HOST=localhost:8088
PINT_IPA_SERVICE_ACCOUNT=pint
PINT_IPA_PASSWORD=stub
PINT_IPA_CA_NAME=ipa
PINT_IPA_RADSEC_CA_NAME=radsec
PINT_IPA_REALM=CSH.RIT.EDU
PINT_IPA_SKIP_TLS_VERIFY=true
PINT_WIFI_SSID=CSH
PINT_NAMESPACE=pint
PINT_RADIUS_CLIENTS_SECRET=pint-radius-clients
PINT_RADIUS_CONFIG_SECRET=pint-radius-config
PINT_RADSEC_CERT_SECRET=pint-radsec-server
PINT_FREERADIUS_POD_SELECTOR=app=freeradius
PINT_RADIUS_SERVER=radius.csh.rit.edu:2083
PINT_RADIUS_PRINCIPAL=radius/radius.csh.rit.edu
